aside {
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #111f2b,
    #132330,
    #162736,
    #182b3b,
    #1b2f41
  );
  font-size: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 0.95rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid getColor("mainPlaceholderText");
  background-color: transparent;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  left: 1px;
  bottom: 1px;
  background-color: getColor("mainPlaceholderText");
  transition: 0.4s;
}

// input:checked + .slider {
//   background-color: #2196f3;
// }

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196f3;
// }

input:checked + .slider:before {
  transform: translateX(0.55rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}
