@import "./utils/colors";
@import "./base/common";
@import "./base/mainLayout";

@import "./sidebar/index";

@import "./content/index";

@import "./footer/footer";

// test

.test-item {
  //width: 100%;
  //overflow: hidden;
  .test-menu-bth {
    display: block;
    color: red;
    position: relative;
    padding: 25px 20px;
    transition: all 300ms ease;

    &:hover {
      margin-left: 20px;
    }
    span:not(:last-child) {
      color: yellow;
      padding-right: 0.1rem;
    }
  }

  .test-submenu {
    background-color: aqua;
    overflow: hidden;
    max-height: 0;
    transition: all 3000ms ease;

    a {
      display: block;
      position: relative;
      color: white;
      white-space: nowrap;
      font-size: 15px;
      padding: 10px;
      transition: all 300ms ease;

      &:hover {
        background-color: aquamarine;
      }
    }
  }
}
.test-dropdown-icon {
  float: right;
  margin-top: 3px;
}

.test-item:target .test-submenu {
  max-height: 100%;
}

///
// nav li a {
//   display: block;
//   color: red;
//   position: relative;
//   padding: 25px 20px;
//   transition: all 300ms ease;

//   //   &:hover {
//   //     margin-left: 20px;
//   //   }
//   //   span:not(:last-child) {
//   //     color: yellow;
//   //     padding-right: 0.1rem;
//   //   }
// }

// .test-submenu {
//   background-color: aqua;
//   overflow: hidden;
//   max-height: 0;
//   transition: all 3000ms ease;

//   a {
//     display: block;
//     position: relative;
//     color: white;
//     white-space: nowrap;
//     font-size: 15px;
//     padding: 10px;
//     transition: all 300ms ease;

//     &:hover {
//       background-color: aquamarine;
//     }
//   }
// }
