@import "../utils/mixins";

footer {
  @include flex();
  justify-content: space-between;
  padding: 1rem 3rem;
  border-top: 1px solid $textLight;
  background-color: var(--bgLight);
  font-size: 0.56rem;

  img {
    max-width: 8.75rem;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  a,
  p {
    color: var(--text);
    &:first-child {
      margin-bottom: 0.5rem;
    }
  }

  p + p {
    color: $textLight;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 1.1rem;
  }
}
