main {
  width: 100%;
  height: 91%;
  padding: 1.7rem;
  border-bottom: 2px solid getColor("footerSecondary");
}

.dropdown-content {
  display: none;
}
.search-field {
  //   box-sizing: border-box;
  //   border: 2px solid #ccc;
  //   border-radius: 4px;
  //   font-size: 16px;
  //   background-color: white;
  background-image: url("../../images/search.svg");
  //background-position: 10px 10px;
  background-repeat: no-repeat;
  //padding: 12px 20px 12px 40px;
}
