.pagination {
  padding: 1.75rem;
  background-color: getColor("tableMainBG");
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  ul {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;

    li {
      margin-right: 0.5rem;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.2rem;
      border: none;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      transition: all 300ms ease;

      &:first-child {
        color: getColor("mainPlaceholderText");
      }

      &:hover,
      &:focus {
        color: getColor("statusCompleted");
      }
    }
  }
}

.page-active {
  border-radius: 5px;
  color: getColor("statusCompleted");
  background-color: #{rgba(getColor("statusCompleted"), 0.2)};
}
