@import "../utils/mixins";

table {
  width: 100%;
  border-collapse: collapse;
  background-color: getColor("tableMainBG");
  font-size: 0.7rem;
}

tr {
  border-bottom: 2px solid getColor("tableSecondaryBG");
}

thead {
  background-color: getColor("tableSecondaryBG");
}

tbody tr:hover {
  background-color: getColor("tableSecondaryBG");
}

th {
  padding: 0.8rem 1.6rem;
  text-align: left;
}
td {
  padding: 0.9rem 1.6rem;
  white-space: nowrap;

  .status-processing {
    @include status(
      #{rgba(getColor("statusProcessing"), 0.2)},
      getColor("statusProcessing")
    );
  }
  .status-completed {
    @include status(
      #{rgba(getColor("statusCompleted"), 0.2)},
      getColor("statusCompleted")
    );
  }
  .status-declined {
    @include status(
      #{rgba(getColor("statusDeclined"), 0.2)},
      getColor("statusDeclined")
    );
  }
}
