@import "../utils/mixins";

main {
  width: 100%;
  height: 100%;
  padding: 2rem 2.25rem 3rem 2.25rem;
  background-color: var(--bgLight);

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.breadcrumbs {
  @include flex();
  margin-bottom: 1.65rem;

  li:not(:last-child) {
    margin-right: 0.4rem;
  }

  a {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.7rem;
    color: var(--text);
  }

  .navigate-next {
    vertical-align: middle;
  }
}

h1 {
  margin-bottom: 1.3rem;
  font-family: "Exo 2", sans-serif;
  font-size: 1.4rem;
}

.table-wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
