@import "../utils/mixins";

.filter-menu {
  @include flex();
  justify-content: space-between;
  margin-bottom: 1.19rem;
  padding: 0.56rem;
  background-color: var(--tableMainBG);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  li {
    width: 20%;

    &:not(:last-child) {
      border-right: 1px solid $textLight;
    }
  }

  a {
    @include flex();
    justify-content: space-around;
    font-size: 0.7rem;
    color: $textLight;
  }

  input {
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;

    &::placeholder {
      font-size: 0.7rem;
      color: $textLight;
    }

    &:focus {
      outline: none;
    }
  }
}

.filter-btns {
  @include flex();

  button {
    @include button(var(--accentGreen));
    margin-right: 4px;
  }

  button + button {
    @include button(var(--text));
    @include flex();

    span {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .filter-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 1rem;
    li {
      width: 80%;

      &:not(:last-child) {
        border: none;
      }
    }
    a {
      justify-content: space-between;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--tableMainBG);
  width: 100%;
  border: 1px solid $textLight;
  border-radius: 6px;
  z-index: 1;

  li {
    width: 100%;
    padding: 10px;
    &:not(:last-child) {
      border-right: none;
    }
    &:hover {
      background-color: var(--tableSecondaryBG);
    }
  }
}
.show {
  display: block;
}
