@import "../utils/mixins";

.filter-menu {
  @include flex();
  justify-content: space-between;
  margin-bottom: 1.19rem;
  padding: 0.56rem;
  background-color: getColor("tableMainBG");
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  li {
    width: 20%;

    &:not(:last-child) {
      border-right: 1px solid getColor("mainPlaceholderText");
    }
  }

  a {
    @include flex();
    justify-content: space-around;
    font-size: 0.7rem;
    color: getColor("mainPlaceholderText");
  }

  input {
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;

    &::placeholder {
      font-size: 0.7rem;
      color: getColor("mainPlaceholderText");
    }

    &:focus {
      outline: none;
    }
  }
}

.filter-btns {
  @include flex();

  button {
    @include button(getColor("searchBtnBG"));
    margin-right: 4px;
  }

  button + button {
    @include button(getColor("mainText"));
    @include flex();

    span {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .filter-menu {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 1rem;
    li {
      width: 80%;

      &:not(:last-child) {
        border: none;
      }
    }
    a {
      justify-content: space-between;
    }
  }
}
