@import "../utils/mixins";

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--tableMainBG);
  font-size: 0.7rem;
}

tr {
  border-bottom: 2px solid var(--tableSecondaryBG);
}

thead,
tbody tr:hover,
tbody tr:focus {
  background-color: var(--tableSecondaryBG);
}

th {
  padding: 0.8rem 1.6rem;
  text-align: left;
}
td {
  padding: 0.9rem 1.6rem;
  white-space: nowrap;

  .status-processing {
    @include status(#{rgba($statusProcessing, 0.2)}, $statusProcessing);
  }
  .status-completed {
    @include status(#{rgba($statusCompleted, 0.2)}, $statusCompleted);
  }
  .status-declined {
    @include status(#{rgba($statusDeclined, 0.2)}, $statusDeclined);
  }
}

@include maxWidht(940px) {
  th,
  td {
    padding: 0.4rem 0.3rem;
  }
}

@include maxWidht(430px) {
  th {
    display: none;
  }

  td {
    display: block;

    &:nth-child(2) {
      display: none;
    }
    &::before {
      content: attr(data-cell) "  ";
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  tbody tr {
    display: grid;
    padding: 10px;
    grid-template-columns: 50% 50%;

    &:nth-child(2n) {
      background-color: lighten($textLight, 26%);
    }
  }
}
