@import "../utils/mixins";

.table-navigation {
  @include flex();
  justify-content: space-between;
  padding: 0.56rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--tableMainBG);

  div {
    @include flex();
  }

  input {
    width: 12rem;
    height: 2rem;
    margin-right: 0.56rem;
    padding: 0.56rem;
    padding-left: 2rem;
    border: none;
    background-color: var(--tableSecondaryBG);
    border-radius: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;

    background-image: url("../../images/search.svg");
    background-position: 0.5rem 0.5rem;
    background-repeat: no-repeat;

    &::placeholder {
      font-size: 0.7rem;
      color: $textLight;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    @include button($textLight, var(--tableSecondaryBG));
    @include flex();

    span {
      margin-right: 10px;
    }
  }

  p {
    @include flex();
    font-size: 0.7rem;

    button {
      height: 1.6rem;
      margin: 0 0.2rem;
    }

    span {
      margin-right: 0;
      margin-left: 0.3rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .table-navigation {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;

    input {
      width: 9rem;
      margin-bottom: 0.2rem;
    }
  }
}
