@import "../utils/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: var(--text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.material-symbols-outlined {
  font-size: 1rem;
}
