@import "../utils/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: getColor("mainText");
  background-color: getColor("mainBG");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.material-symbols-outlined {
  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-columns: 14% auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container-right {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1230px) {
  .container {
    grid-template-columns: 175px auto;
    max-width: 1230px;
  }
}
