@import "../utils/colors";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: getColor("mainText");
  background-color: getColor("mainBG");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
