@import "../utils/colors";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: getColor("mainText");
  background-color: getColor("mainBG");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 175px auto;
  max-width: 1230px;
  margin: 0 auto;
}

.material-symbols-outlined {
  font-size: 1rem;
}
