:root {
  --bgLight: #eceff8;
  --bgDark: #111f2b;
  --text: #000000;
  --textLight: #b3b3b3;
  --sidebarText: #ffffff;
  --accentGreen: #1cc078;
  --accentRed: #ff5f5e;
  --accentBlue: #4985d6;
  --tableMainBG: #ffffff;
  --tableSecondaryBG: #f5f7fa;
}

$bgLight: #eceff8;
$bgDark: #111f2b;
$bgDarken: darken($bgDark, 1%);
$text: #000000;
$textLight: lighten($text, 65%);
$accentGreen: #1cc078;
$accentRed: #ff5f5e;
$accentBlue: #4985d6;
$statusProcessing: #4985d6;
$statusCompleted: #18c177;
$statusDeclined: #ff5f5e;
