@mixin flex {
  display: flex;
  align-items: center;
}

@mixin button($color, $bgColor) {
  height: 2rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border-style: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  color: $color;
  background-color: $bgColor;
  transition: opacity 300ms ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@mixin status($bgColor, $textColor) {
  color: $textColor;
  background-color: $bgColor;
  padding: 4px 6px 4px 12px;
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: 500;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 1px;
    right: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $textColor;
  }
}
