@media screen and (min-width: 681px) {
  .checkbox,
  .hamburger-lines {
    display: none;
  }
}

@include maxWidht(680px) {
  .checkbox {
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    top: 20px;
    right: 1rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 17px;
    right: 1rem;
    z-index: 2;
  }

  .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #{rgba($bgDark, 0.4)};
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &.open {
    display: block;
  }
}
