@media screen and (min-width: 681px) {
  .checkbox,
  .hamburger-lines {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  aside {
    .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 25px;
      top: 20px;
      right: 1rem;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }

    .hamburger-lines {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      display: block;
      height: 20px;
      width: 25px;
      top: 17px;
      right: 1rem;
      z-index: 2;
    }

    .hamburger-lines .line {
      display: block;
      height: 2px;
      width: 100%;
      border-radius: 10px;
      background: white;
    }

    .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }

    .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }

    .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #{rgba($bgDark, 0.4)};
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &.open {
    display: block;
  }
}
