@import "../utils/mixins";

aside {
  li {
    @include flex();
    margin-bottom: 0.6rem;
  }
  .material-symbols-outlined {
    color: var(--sidebarText);
    cursor: pointer;
  }

  .menu-arrow {
    margin-right: 1rem;
  }
}

.sub-menu {
  display: none;

  &.open {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    color: var(--sidebarText);
  }
}

.parent:has(.sub-menu.open) {
  display: flex;
  flex-direction: column;
}
