@import "../utils/mixins";

aside {
  height: 100%;
  padding-top: 1.13rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  background-image: linear-gradient(
    to left top,
    #111f2b,
    #132330,
    #162736,
    #182b3b,
    #1b2f41
  );

  .navigation {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul li {
    position: relative;
  }
  img {
    margin: 0 auto 1.75rem auto;
    max-width: 8.75rem;
  }

  a {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 1.3rem 1rem;
    height: 2rem;
    color: var(--sidebarText);
    transition: all 300ms ease;

    &:hover,
    &:focus {
      margin-left: 1rem;
    }

    span:not(:last-child) {
      padding-right: 0.2rem;
    }
  }
}

.submenu {
  width: 175px;
  background-color: lighten($bgDark, 10%);
  overflow: hidden;
  position: relative;
  max-height: 0;
  transition: all 300ms ease;

  a {
    display: block;
    position: relative;
    white-space: nowrap;
    font-size: 0.9;
    padding: 0.7rem 2rem;
    transition: all 300ms ease;

    &:hover {
      margin: 0;
      background-color: aquamarine;
    }
  }
}

.dropdown-icon {
  float: right;
  margin-top: 3px;
}

ul li:target .submenu {
  max-height: 100%;
}
// .active {
//   background-color: #1a3b43;

//   // &::before {
//   //   content: "";
//   //   display: block;
//   //   width: 2px;
//   //   background-color: var(--accentGreen);
//   // }
// }
