@import "../utils/mixins";

aside {
  height: 100%;
  font-size: 1rem;
  background-image: linear-gradient(
    to left top,
    #111f2b,
    #132330,
    #162736,
    #182b3b,
    #1b2f41
  );

  img {
    margin: 0 auto 1.75rem auto;
    max-width: 8.75rem;
  }

  a {
    display: block;
    position: relative;
    padding: 0.7rem;
    color: var(--sidebarText);
    transition: all 300ms ease;

    &:hover,
    &:focus {
      color: var(--accentGreen);
    }

    span:not(:last-child) {
      padding-right: 0.2rem;
    }
  }
}

.navigation {
  height: 100%;
  padding-top: 1.13rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include maxWidht(680px) {
    min-height: 630px;
    position: absolute;
    top: 0;
    left: -175px;
    width: 175px;
    z-index: 2;
    background-image: inherit;
    transition: all 300ms ease;

    &.open {
      left: 0;
      transition: all 300ms ease;
    }
  }
}

.submenu {
  display: none;
  width: 175px;
  background-color: lighten($bgDark, 10%);
  overflow: hidden;
  transition: all 300ms ease;

  a {
    display: block;
    position: relative;
    white-space: nowrap;
    font-size: 0.9;
    padding: 0.7rem 0 0.7rem 2.5rem;
    transition: all 300ms ease;

    &:hover {
      padding-left: 3rem;
    }
  }

  &.open {
    display: block;
  }
}

.dropdown-icon {
  float: right;
  margin-top: 3px;
}

.active {
  background-color: #1a3b43;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--accentGreen);
  }
}
