.notifications {
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 2rem;

  &::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 9px;
    background-color: var(--accentGreen);
  }
  &:hover,
  &:focus {
    margin-left: 0.5rem !important;
  }

  span {
    margin-left: -1rem;
  }
}
