.notifications {
  display: block;
  margin-left: 1rem;
  margin-bottom: 2rem;

  span {
    margin-right: 1rem;
  }

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: -6px;
    background-color: var(--accentGreen);
  }
  &:hover,
  &:focus {
    margin-left: 0.5rem !important;
  }

  span {
    margin-left: -1rem;
  }
}
