.notifications {
  margin-bottom: 1rem;

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 10px;
    background-color: var(--accentGreen);
  }
}
