.notifications {
  margin-left: 0;
  margin-bottom: 2rem;

  &::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 25px;
    background-color: getColor("sidebarAccent");
  }
  &:hover,
  &:focus {
    margin-left: 0.5rem !important;
  }
}
