@import "../utils/mixins";

aside {
  height: 100%;
  padding-top: 1.13rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  background-image: linear-gradient(
    to left top,
    #111f2b,
    #132330,
    #162736,
    #182b3b,
    #1b2f41
  );

  .navigation {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    margin: 0 auto 1.75rem auto;
    max-width: 8.75rem;
  }

  a {
    @include flex();
    //justify-content: space-between;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1rem;
    gap: 0.7rem;
    height: 2rem;
    color: var(--sidebarText);
    transition: all 300ms ease;

    &:hover,
    &:focus {
      margin-left: 1rem;
    }

    div {
      @include flex();
    }
  }
}

.active {
  background-color: #1a3b43;

  // &::before {
  //   content: "";
  //   display: block;
  //   width: 2px;
  //   background-color: var(--accentGreen);
  // }
}
