@import "../utils/mixins";

.open-burger {
  display: none;
}
aside,
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.13rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  background-image: linear-gradient(
    to left top,
    #111f2b,
    #132330,
    #162736,
    #182b3b,
    #1b2f41
  );

  img {
    margin: 0 auto 1.75rem auto;
    max-width: 8.75rem;
  }

  a {
    @include flex();
    //justify-content: space-between;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1rem;
    gap: 0.7rem;
    height: 2rem;
    color: getColor("sidebarText");
    transition: all 300ms ease;

    &:hover,
    &:focus {
      margin-left: 1rem;
    }

    div {
      display: flex;
      align-items: center;
    }
  }
}

.active {
  background-color: #1a3b43;

  &::before {
    content: "";
    width: 2px;
    background-color: getColor("sidebarAccent");
  }
}
@media screen and (max-width: 940px) {
  aside {
    width: 100%;
    height: 4rem;
    & > div {
      display: none;
    }
    .open-burger {
      display: inline-block;
    }
  }
}
