@import "../utils/mixins";

.user {
  @include flex();
  justify-content: space-between;
  height: auto;
  width: 160px;
  margin: 0 auto 1rem;
  padding: 0.5rem;

  border-radius: 6px;
  background-color: $bgDarken;
  color: var(--sidebarText);
  box-shadow: 0px 0px 2px 3px rgba(32, 52, 69, 1);
  transition: all 300ms ease;

  &:hover {
    box-shadow: 0px 0px 14px 3px rgba(40, 62, 82, 1);
  }

  div + div {
    display: flex;
    flex-direction: column;
  }
}

.avatar {
  @include flex();
  justify-content: center;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--accentGreen);
}

.name {
  font-size: 0.8rem;
}
.role {
  font-size: 0.6rem;
}
